# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
print("The Datasheet has", data.shape[0], "rows and", data.shape[1], "columns")
display(data.head())

The Datasheet has 4008 rows and 11 columns

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [2]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
data.info()

print("Suggestions for fixing any incorrect data types.")
print("CLV -> int")
print("Number of Open Complaints -> int")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
Suggestions for fixing any incorrect data types.
CLV -> int
Number of Open Complaints -> int

In [3]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and the range of values for numerical columns, 
#and give your insights.
display(data.nunique())


col_categorical=['Customer','ST','GENDER','Education','Policy Type','Vehicle Class']

print('Categrical columns:')
print('')
for col in col_categorical:
    print(col, data[col].unique())
    print('')


col_numerical=['Income','Monthly Premium Auto','Total Claim Amount']
print('Numerical columns:')
print('')
for col in col_numerical:
    range = data[col].max()-data[col].min()
    print(col,"Range:", range)
    print('')
    
print('The Range of Customer Lifetime Value and Number of Open Complaints coudn´t compute yet, because of incorect datatypes. I cant chance the Datatype until i clean the columns. ')

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Categrical columns:

Customer ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

ST ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

GENDER [nan 'F' 'M' 'Femal' 'Male' 'female']

Education ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Policy Type ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Vehicle Class ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Numerical columns:

Income Range: 99960.0

Monthly Premium Auto Range: 35293.0

Total Claim Amount Range: 2892.857571

The Range of Customer Lifetime Value and Number of Open Complaints coudn´t compute yet, because of incorect datatypes. I cant chance the Datatype until i clean the columns.

In [4]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

display(data[col_numerical].describe())
print("Missing Values by NaNs:")
display(data[col_numerical].isna().sum()/data.shape[0]*100)
print("Missing Values by Nulls:")
display(data[col_numerical].isnull().sum()/data.shape[0]*100)

print("73% of the Values are missing. Therefore the cpmpute of summary statistics doesn´t make a lot of sense.")

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Missing Values by NaNs:

Income                  73.278443
Monthly Premium Auto    73.278443
Total Claim Amount      73.278443
dtype: float64

Missing Values by Nulls:

Income                  73.278443
Monthly Premium Auto    73.278443
Total Claim Amount      73.278443
dtype: float64

73% of the Values are missing. Therefore the cpmpute of summary statistics doesn´t make a lot of sense.

In [5]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
for col in col_categorical:
    print('The Mode of', col, 'is:', data[col].mode()[0])
    print("")

The Mode of Customer is: AA71604

The Mode of ST is: Oregon

The Mode of GENDER is: F

The Mode of Education is: Bachelor

The Mode of Policy Type is: Personal Auto

The Mode of Vehicle Class is: Four-Door Car

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [6]:
customer_locations_series = data['ST']
customer_locations_series.value_counts().tail(5)

ST
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [7]:
policy_types_series = data['Policy Type']
display(policy_types_series.value_counts())
print("Policy type with the highest number of policies sold:",policy_types_series.value_counts().idxmax())

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy type with the highest number of policies sold: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [8]:
personal_auto_df = data[(data['Policy Type']=='Personal Auto') & (data['Income']!=0.0)]
income_personal_auto_df = personal_auto_df.loc[:,['Income','Policy Type']]
display(income_personal_auto_df)
print('The average Income of Customors with a Personal Auto is',income_personal_auto_df['Income'].mean().round())

personal_auto_df = data[(data['Policy Type']=='Corporate Auto') & (data['Income']!=0.0)]
income_personal_auto_df = personal_auto_df.loc[:,['Income','Policy Type']]
display(income_personal_auto_df)
print('The average Income of Customors with a Corporate Auto is',income_personal_auto_df['Income'].mean().round())

       Income    Policy Type
2     48767.0  Personal Auto
4     36357.0  Personal Auto
5     62902.0  Personal Auto
16    25049.0  Personal Auto
17    28855.0  Personal Auto
...       ...            ...
1065  69417.0  Personal Auto
1066  38644.0  Personal Auto
1067  63209.0  Personal Auto
1068  16061.0  Personal Auto
1070  54230.0  Personal Auto

[591 rows x 2 columns]

The average Income of Customors with a Personal Auto is 50391.0

       Income     Policy Type
6     55350.0  Corporate Auto
8     14072.0  Corporate Auto
12    77026.0  Corporate Auto
13    99845.0  Corporate Auto
14    83689.0  Corporate Auto
...       ...             ...
1045  94389.0  Corporate Auto
1050  51978.0  Corporate Auto
1052  86721.0  Corporate Auto
1056  89451.0  Corporate Auto
1059  54193.0  Corporate Auto

[179 rows x 2 columns]

The average Income of Customors with a Corporate Auto is 54108.0

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [9]:
data['Total Claim Amount'].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [10]:
data['Total Claim Amount'].quantile(0.75)

532.8

In [18]:
#Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
data_claim_clean_nan = data[data['Total Claim Amount'].isna() == False]

claim_amount_75th = data_claim_clean_nan[data_claim_clean_nan['Total Claim Amount'] > data_claim_clean_nan['Total Claim Amount'].quantile(0.75)]
claim_amount_75th['Total Claim Amount']

1       1131.464935
2        566.472247
17       647.442031
23       554.376763
26       799.200000
           ...
1059     720.752945
1061     546.524896
1068     633.600000
1069     547.200000
1070     537.600000
Name: Total Claim Amount, Length: 264, dtype: float64

In [20]:
claim_amount_75th.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678

The Numbers are noch representive because there are still a lot of missing values in the income column.